[tool.poetry]
name = "cyecca"
version = "0.2.7"
description = "Symbolic Estimation and Control with Computer Algebra - A Lie group library for robotics built on CasADi"
authors = ["James Goppert <james.goppert@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "~3.12"
numpy = "~1.26"
casadi = {version = "^3.6.5"}
scipy = "~1.11"
sympy = "~1.12"
beartype = "^0.19.0"
pydot = "^3.0.3"

[tool.poetry.group.dev.dependencies]
black = {extras = ["jupyter"], version = "^24.10.0"}
jupyterlab = "^4.3.1"
nbmake = "^1.4.1"
pytest-cov = "^6.0.0"
pytest-xdist = "^3.6.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
