name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: Cache Poetry installation
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: poetry-${{ runner.os }}
          
      - name: Cache Poetry dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-
            
      - name: Install apt dependencies
        run: sudo apt-get update && sudo apt-get install -y graphviz gfortran cmake libblas-dev liblapack-dev ninja-build
        
      - name: Setup poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          
      - name: Install dependencies
        run: poetry install
        
      - name: Lint with black
        run: poetry run black --check .
        
      - name: Run tests
        run: poetry run pytest --cov --maxfail=3 -n auto
        
      - name: Run notebook tests
        run: poetry run pytest --nbmake notebook --nbmake-timeout=120 -n auto

